@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url("../Images/background4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

/* Navbar Section */
.navbar{
  color: #fff;
} 

.navbar-brand {
  font-size: 1.5rem;
  color:inherit;
  padding-left: 3rem;
}

.navbar-nav li {
  margin-right: 1.5rem;
}

.navbar-nav li a {
  color:inherit;
  border-bottom: 0.15rem solid transparent;
}

.navbar-nav li a:hover{
  color: white;
  border-bottom-color: #d3ecbf;
}
/* navbar section end */

/* Heading section */
.heading-container {
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  background-image: url("../Images/Vegetable.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-heading {
  font-size: 10vw;
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 23vh;
}

.sub-heading {
  font-size: 1.5vw;
  font-weight: 10;
  letter-spacing: 1vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 23vh;
}
/* heading section end */


/* Service Section */
.service-container {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.feature-title {
  font-size: 1.5rem;
}

.features-icon {
  color: #678983;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #2C3639;
}

.feature-p {
  color: #8f8f8f;
  font-weight: normal;
  text-align: center;
}

.feature-text {
  display: flex;
  flex-direction: column;
  align-items: center;

}
/* Service Section end */

/* User Reviews Section */
#reviews {
  text-align: center;
  background-color: #678983;
  color: white;
}

.review-text{
  font-size: 3rem;
  line-height: 1.5;
}

.review-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* User Review Section End */
  
  .featured-vegetables h2 {
    margin: 0;
  }
  
  
  .vendor-listings {
    padding: 20px;
  }
  
  .vendor-listings h2 {
    margin: 0;
  }
  
  .vendor {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .filter-options {
    padding: 20px;
  }
  
  .filter-options label {
    margin-right: 10px;
  }
  
  .delivery-options {
    padding: 20px;
  }
  
  .delivery-options h3 {
    margin: 0;
    text-align: right;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
  }
  .list{
    list-style: none;
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: medium;
  
  }
  .user-reviews {
    padding: 20px;
  }
  
  .user-reviews h3 {
    margin: 0;
  }
  
  .vendor-registration {
    padding: 20px;
  }
  
  .news-updates {
    padding: 20px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .news-updates h2 {
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: center;
  }
  
  
  .company-logo img {
    width: 50px;
    margin-left: 20px;
    margin-top: 10px;
}
/*_________________________________Check price & slider__________________________________*/
.container {
  padding: 20px;
}

.right {
  align-items: center;
  height: 100px;
  width: 100px;
  float: right;
  margin: 20px;
  padding: 20px;
  padding-right: 230px;
  position: relative;
}

#price {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-style: italic;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.search-box {
  position: absolute;
  top: 30px;
  left: 20;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 20px;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  border-style: double;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.search-box:hover {
  transform: translateY(8px);
}

.input_text {
  width: 90%;
  height: 40px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.search-button {
  width: 100%;
  padding: 8px 24px;
  background-color: #2294ed;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #0077cc;
}

/* Show the search box on hover */
.right:hover .search-box {
  display: block;
}

.right:hover #price {
  opacity: 0;
}
.slideshow-container {
  text-align: center;
  align-items: center;
  max-width: 700px;
  position:relative;
  margin: auto;
  padding: 20px;
  margin:20px;
  background-color: rgb(193, 214, 157);
  border-width: 50px;
  border-radius: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev{
  left:0;
  border-radius:3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*___________________________________________________End check price & slider________________________________________*/


/*___________________________________________________FOOTER__________________________________________________________*/
/*.footer{
  background: #458353; 
  padding: 1% 1% 0% 4%;
  margin: 0%;
}

.footer-block{
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 1;
  color: #F0F0F0;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: left;
}

.footer-block-Site_info , .footer-block-Creator 
{
  display: inline-flex;
  padding: 0.375rem 0.875rem 2.625rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  width: 15%;
  margin-right: 3%;
}


.footer-block-Extra_info
{ 
  width: 60%;
  margin-top: 8%;
  margin-left: 2%;
  height: 3.3125rem;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
}

.footer-block-Extra_info div { 
  width: 20%;
  height: 1.1875rem;
  display: inline-block;
  justify-content: space-between;
}

.footer-block-Extra_info span
{
  border-radius: 20px;
}
.footer-block-Extra_info span:hover {
  background-color: rgb(144, 196, 173);
  border-radius: 2px;
  color: #2C3639;
  
}*/
footer{
  width:100%;
  position:relative;
  bottom:0;
  height:190px;
  margin: 0%;
  background:linear-gradient(to bottom left,rgba(101, 34, 10),rgba(52, 232, 52, 0.8));
  color:black;
  padding:80px 0 ;
  border-top-left-radius:130px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  line-height:20px;
}
.row{
   width:100%;
   margin:auto;
   display:flex;
   flex-wrap:nowrap;
   align-items: flex;
   justify-content: space-between;
}
.col{
  padding:10px;
  
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis:15%;
}
.footer-about{
  width:180px;
  margin-bottom:30px;
  margin-left:50px;
}
.fotter-para{
  width: 180px;
  margin-left: 50px;
}
.col h3{
  width:fit-content;
  margin-bottom:20px;
  position:relative;
}
.contact{
  position: relative;
  align-items: left;
}

.language-dropdown {
  margin-top: 10px;
}

label {
  margin-right: 10px;
}

#language-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #bbd8bc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}




.back-to-top-btn {
  text-decoration: none;
  position: absolute;
  padding: 8px 7px;
  background-color: #094408;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.back-to-top-btn:hover {
  background-color:#457e44;
}
form{
  padding-bottom: 15px;
  display:flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #121111;
  margin-bottom: 50px;
  color:#000;
}
form .far{
  font-size: 18px;
  margin-right: 10px;
}
form input{
  width:100%;
  background:transparent;
  color:#100505;
  border:0;
  outline:none;
}
form button{
  background: transparent;
  border:0;
  outline: none;
  cursor:pointer;
}
form button .fas{
  font-size:16px;
  color:#302b2b;
}

.social-icons .fa-brands{
  width:40px;
  height:40px;
  border-radius:50%;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  color:#000;
  margin-right:15px;
  cursor:pointer;
}
.hr{
  width:90%;
  border:0;
  border-bottom:1px solid black;
  margin: 20px 0;
}
.underline{
  width:100%;
  height:5px;
  background: #132925;
  border-radius:3px;
  position:absolute;
  top:25px;
  left:0;
  overflow: hidden;
}
.underline span{
  width:15px;
  height:100%;
  background: #fff;
  border-radius:3px;
  position:absolute;
  top:0;
  left:10px;
  animation:moving 2s linear infinite;
}
@keyframes moving{
  0%{
    left:-10%;
  }
  100%{
    left:100%;
  }
}


/*___________________________________________________FOOTER - END __________________________________________________________*/

