@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url("../Images/background5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ___________________________________________NAVBAR SECTION_________________________________________________________ */
.navbar {
  color: #fff;
  position: fixed;
}

.navbar-brand {
  font-size: 2rem;
  color: inherit;
  padding-left: 3rem;
  padding-right: 58rem;
}

.navbar-brand:hover {
  color: white;
  text-align: center;
}

.navbar-nav li {
  margin-right: 1.5rem;
}

.navbar-nav li a {
  color: inherit;
  border-bottom: 0.2rem solid transparent;
  text-decoration: none;
  ;
}

.navbar-nav li a:hover {
  color: white;
  border-bottom-color: #d3ecbf;
}

/* ___________________________________________NAVBAR SECTION END_________________________________________________________ */

/* ___________________________________________HEADING SECTION_________________________________________________________ */
.heading-container {
  height: 100vh;
  padding-left: 0;
  padding-right: 0;
  background-image: url("../Images/Vegetable.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-heading {
  font-size: 10vw;
  font-weight: 900;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 23vh;
}

.sub-heading {
  font-size: 1.5vw;
  font-weight: 80;
  letter-spacing: 1vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 23vh;
}

/* ___________________________________________HEADING SECTION END_________________________________________________________ */

/* ___________________________________________ABOUT SECTION_________________________________________________________ */
.about-heading {
  font-size: 5vw;
  font-weight: 500;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10vh;
  /* bottom: 5vh; */
}

.about-subheading {
  font-size: 2vw;
  font-weight: 20;
  color: grey;
  position: relative;
  top: 10vh;
  bottom: 20vh;
  margin: 100px 100px;
}

/* ___________________________________________ABOUT SECTION END_________________________________________________________ */

/* ___________________________________________SERVICE SECTION_________________________________________________________ */
.service-container {
  padding: 5% 15%;
  background-color: white;
  position: relative;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
}

.feature-title {
  font-size: 1.5rem;
}

.features-icon {
  color: #678983;
  margin-bottom: 1rem;
}

.features-icon:hover {
  color: #2C3639;
}

.feature-p {
  color: #8f8f8f;
  font-weight: normal;
  text-align: center;
}

.feature-text {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* ___________________________________________SERVICE SECTION END_________________________________________________________ */

/* ___________________________________________GRAPH SECTION_________________________________________________________ */

.graph-section {
  background-color: #678983;
  padding: 60px;
}

.img-col {
  background-color: white;
}

.img-col img {
  width: 100%;
  height: 100%;
}

.text-col h1 {
  color: white;
  text-align: right;
  font-size: 7rem;
  font-weight: 800;
  position: relative;
  right: 1rem;
  line-height: 9rem;
}

.button-col {
  position: relative;
  left: 46rem;
  display: inline-block;
}

/* ___________________________________________GRAPH SECTION END_________________________________________________________ */

/* ___________________________________________USER REVIEW SECTION_________________________________________________________ */
#reviews {
  text-align: center;
  background-color: #678983;
  color: white;
}

.review-text {
  font-size: 3rem;
  line-height: 1.5;
}

.review-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* ___________________________________________USER REVIEW SECTION END_________________________________________________________ */

/* ___________________________________________SLIDER SECTION_________________________________________________________ */
.container {
  padding: 20px;
}

.slider {
  font-family: 'Coiny', cursive;
}

section .carousel-inner .item {
  height: 100vh;
}

section .carousel-inner .item img {
  width: 100%;
}

.carousel-caption {
  padding-bottom: 150px;
}

.carousel-caption h2 {
  font-size: 50px;
  text-transform: uppercase;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

/*___________________________________________SLIDER SECTION END _________________________________________________________*/

/*___________________________________________CHECK PRICE SECTION _________________________________________________________*/
.check-pri-cont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

/* Style the left container with the heading and caption */
.check {
  flex: 1;
  padding-right: 350px;
  align-items: center;
}

/* Style the right container with the search box */
.search-box {
  flex: 1;
  display: block;
  text-align: center;
  font-family: 'Coiny', cursive;

  font-style: italic;

  position: relative;
  height: 20vw;
  padding: 20px;
  margin: 20px;
  background-image: url('../Images/background12.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.8);
  border-style: double;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.search-box:hover {
  transform: translateY(8px);
}

/* Style the search box as a block-level element within a box */
.input_text {


  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
  /* Add some spacing between the elements */
  font-size: 16px;
  background-image: url('../Images/background5.jpg');
}

.search-button {
  display: inline-block;
  background-color: #0ae63a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.search-button:hover {
  background-color: #457e44;
}

/* Additional styling for the heading and caption */
.head-design {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  text-align: center;
  font-family: 'Coiny', cursive;
  cursor: pointer;
  font-style: italic;
  position: relative;
  padding: 10px;
  margin: 20px 10px;
}

.caption {
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

/* ___________________________________________CHECK PRICE SECTION END_________________________________________________________ */

/*___________________________________________________FOOTER__________________________________________________________*/


footer {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 100%;
  /* height: 120px; */
  margin: 0;
  background: linear-gradient(to bottom left, rgb(73, 159, 90), rgba(54, 63, 82, 0.8));
  color: black;
  padding: 30px 0;
  border-top-left-radius: 130px;
  font-family: 'Coiny', cursive;
  font-size: 17px;
  line-height: 20px;
}

.row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex;
  justify-content: space-between;
}

.col {
  padding: 20px;
  flex: 1;
  max-width: 300px;
}

.col:not(:last-child) {
  margin-right: 20px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 25%;
}

.footer-about {
  width: 190px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.fotter-para {
  width: 190px;
  margin-left: 50px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 20px;
  position: relative;
}

.contact {
  position: relative;
  align-items: left;
}

.language-dropdown {
  margin-top: 10px;
}

label {
  margin-right: 10px;
}

#language-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #bbd8bc;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.back-to-top-btn {
  text-decoration: none;
  position: absolute;
  padding: 8px 7px;
  background-color: #094408;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

.back-to-top-btn:hover {
  background-color: #457e44;
}

form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #121111;
  margin-bottom: 50px;
  color: #000;
}

form .far {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #100505;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

form button .fas {
  font-size: 16px;
  color: #302b2b;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  color: #000;
  margin-right: 15px;
  cursor: pointer;
}

footer .hr {
  width: 90%;
  border: 2px;
  border-bottom: 1px solid rgb(21, 20, 20);
  margin:0;
}

.underline {
  width: 100%;
  height: 5px;
  background: #132925;
  border-radius: 3px;
  position: absolute;
  top: 35px;
  left: 0;
  overflow: hidden;
  display: inline-block;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -10%;
  }

  100% {
    left: 100%;
  }
}

/*___________________________________________________FOOTER END __________________________________________________________*/